node_modules
.vscode
.DS_Store
build
coverage
semantic/src/definitions
semantic/dist
semantic/src/themes/amazon
semantic/src/themes/bookish
semantic/src/themes/basic
semantic/src/themes/bootstrap3
semantic/src/themes/chubby
semantic/src/themes/classic
semantic/src/themes/colored
semantic/src/themes/duo
semantic/src/themes/default
semantic/src/themes/fixed-width
semantic/src/themes/flat
semantic/src/themes/github
semantic/src/themes/gmail
semantic/src/themes/instagram
semantic/src/themes/material
semantic/src/themes/pulsar
semantic/src/themes/raised
semantic/src/themes/resetcss
semantic/src/themes/round
semantic/src/themes/rtl
semantic/src/themes/striped
semantic/src/themes/timeline
semantic/src/themes/twitter
semantic/tasks
